.header-wrap {
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e6e6e6;
  justify-content: space-between;
  min-height: 54px;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #fff;
}
.header-occupied{
  height: 61px;
}
.header-wrap .el-menu--horizontal {
  border-bottom: none;
}
.header-wrap .header-logo {
  flex-shrink: 0;
  order:1;
  margin-right: 24px;
}
.header-wrap .header-logo img {
  width: 120px;
  height: 36px;
}
.header-wrap .header-menu {
  flex-grow: 1;
  order:2;
}
.header-wrap .header-search {
  flex-basis: 20%;
  width: 20%;
  order:3;
  min-width: 220px;
}
.header-wrap .xs-search {
  font-size: 24px;
  margin: 0 12px;
  cursor: pointer;
  order:3;
  display: none;
}
.header-wrap .xs-menu {
  font-size: 24px;
  margin: 0 12px;
  cursor: pointer;
  order:1;
  display: none;
}
@media screen and (max-width: 960px) {
  .header-wrap .header-logo {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header-wrap .header-search {
    display: none;
  }
  .header-wrap .xs-search {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header-wrap .el-menu-item,
  .header-wrap .el-submenu__title {
    padding: 0 8px;
  }
  .header-wrap {
    padding: 0 8px;
  }
}
@media screen and (min-width: 641px) {
  .header-wrap{
    height: 60px;
  }
  .header-wrap .header-menu{
    background-color: transparent;
  }
  .el-menu--horizontal .el-menu-item:hover{
    border-bottom: 2px solid #409EFF;
  }
  .header-wrap .xs-header-menu{
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header-wrap .header-menu{
    display: none;
  }
  .header-wrap .xs-header-menu{
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0px;
  }
  .header-wrap .xs-header-menu.el-menu{
    border-bottom: solid 1px #e6e6e6;
    border-right:none;
  }
  .header-wrap{
    flex-wrap:wrap;
  }
  .header-wrap .header-logo {
    display: block;
    order:2;
  }
  .header-wrap .header-menu{
    display: none;
  }

  .header-wrap .xs-menu {
    display: block;
    order:1;
  }
  .header-occupied{
    height: 55px;
  }
  .slide-fade-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(-100%);
    /*opacity: 0;*/
  }
}